.main-personnage {
  background: #eeeff2;
}
.container-personnage {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.container-personnage img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.personnages-commics p {
  padding-bottom: 20px;
  border-bottom: 1px solid #ed1d24;
}
