body {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}
main {
  padding: 40px 0;
}
.wrapper {
  width: 95%;
  max-width: 1340px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
p {
  margin-bottom: 20px;
  line-height: 1.4;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
h1,
h3,
h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.container-marvel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.container-marvel img {
  width: 290px;
  height: 200px;
  object-fit: cover;
}

.container-marvel article {
  position: relative;
  overflow: hidden;
}

.container-marvel article .infos {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #1f1f1f;
  color: white;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.3s ease;
}
.container-marvel article .infos a {
  color: white;
}

.container-marvel article:hover .infos {
  opacity: 0.9;
  transform: translateY(0);
}
.favoris {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed1d24;
}
.btn-marvel {
  border: none;
  background-color: #ed1d24;
  transform: skewX(-20deg);
  margin-bottom: 20px;
}
.btn-marvel span {
  display: block;
  transform: skewX(20deg);
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  font-size: 1.2em;
}
.home-avertissement {
  text-align: center;
  padding: 50px 0;
}
